body {
 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: #28783B;
}
div#contacts i {
    font-size: 10px;
}

ul {
    margin: 0 120px;
}

header {
    background-color:#28783B;
    margin: auto 0;
    height: 50px;
    position: fixed;
    top: -1px;
}

a {
    color: white;
    font-size: 20px;
}
i {
    font-size: 40px;
    padding: 10px 0px;
    color: #28783B;
}

div.img img {
    height: 80px;
    border-radius: 50px;
    border: 10px solid #28783B;
    

}

div#menu {
  
    display: inline-grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    text-align: end;    
    padding: 10px 0 0 0;
   
}

div#quote {
    font-style: italic;
    text-align: center;
}

div#socials ul{
    position: fixed;
    top: 100px; 
    list-style: none;
    margin: 2px 0px;
    padding: 5px;
}

div#con {
    margin: 50px 0 0 40px;

}

div#socials  ul li a i {
    height: 20px;
    color: #28783B;
}


#menu > div {
    margin: 5px 10px;
}




div#menu > div a {

    list-style: none;
    text-decoration: none;
}


h1 {
 
    font-size: 60px;
    text-align: center;
    margin: 0px;
    letter-spacing: 15px;


}

#todayDate, #contacts {
    text-align: center;
}

blockquote {
    display: block;
    margin: 5px 100px;

}

h2 strong {
    font-size: 30px;
    border: 2px solid tomato;
    background-color: tomato;
    border-radius: 5px;
    margin: 30px 5px;
    padding: 5px;
}


p {
    font-size: 16px;
}

div > p {
    margin: 5px;
    padding: 5px;
}

p strong {
    border: 1px solid tomato;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    

}

img#email {
    width: 20px;
}

#about {
    background-color: tomato;
    padding: 100px 20px 20px 20px;
    margin: 100px 5px;
    border-radius: 20px;
}


footer {
    text-align: center;
    font-size: 10px;
}
